<%= partial 'shared/forums' %>

<h1 class="title" itemprop="name"><%= @title %></h1>
<table class="forumTable">
	<tbody>
		<tr>
			<th style="width:5%">Ответов</th>
			<th style="width:15%">Дата</th>
			<th>Тема</th>
		</tr>
		<% for item in @topics %>
		<tr>
			<td style="text-align:center"><%= item.responses %></td>
			<td style="text-align:center" class="altCol"><%= item.updated.strftime("%F %k:%M ") %></td>
			<td class="postslisttopic">
				<a href="<%= ForumHelper.get_real_thread_url(3,item.fid,item.tid) %>"><%= item.title %></a>
				<%= partial 'shared/page_nav_small', :object => {:count=>item.responses+1, :url=>"/gamedev/thread/#{item.tid}" } %>
			</td>
			
			
		</tr>
		<% end %>
	</tbody>
</table>