<%= partial 'shared/forums' %>


<% for forum in @forums %>
<div style="margin-top:20px;">
	<div style="color:red;">
		<%= forum.name %>
	</div>
	<table class="forumTable" style="width:70%;">
		<tbody>
			<tr>
				
				<th>Тема</th>
				
				<th style="width:5%">Ответов</th>
				
				<th style="width:25%">Дата</th>
			</tr>
			<% topics = Threads.filter(siteid:6, fid: forum.fid).reverse_order(:updated)%>
			<% for item in topics.limit(5) %>
			<tr>
				<td class="postslisttopic">
					<a href="<%= ForumHelper.get_real_thread_url(6,item.fid,item.tid) %>"><%= item.title %></a>
					<%= partial 'shared/page_nav_small', :object => {:count=>item.responses+1, :url=>"/lor/thread/#{item.tid}" } %>
				</td>
				<td style="text-align:center"><%= item.responses %></td>

				<td style="text-align:center" class="altCol"><%= item.updated.strftime("%F %k:%M ") %></td>

			</tr>
			<% end %>
		</tbody>
	</table>
</div>
<% end %>