<table class="msgTable" style="width:80%;">
	<tbody>
		
		<% @posts.group_by{|h| h[:tid]}.each do |tid, thread_posts| %>
		<tr style="vertical-align:top">
			<td class="msgBody">
				<span onclick="$(this).next().toggle();"><a class="Clicable"><%= @threads[tid] %> </a> <%=thread_posts.size.to_s %></span>
				<div style="display: none; cursor: default; border: 1px solid blue;">
					
					<% thread_posts.each do |item| %>
					<table class="msgTable">
						<tbody>
							<tr>
								<td id="id<%= item.mid %>" class="messageHeader" colspan="2"><img src="/images/message.gif" alt=""><%= @threads[item.tid] %>
								</td>
							</tr>
							<tr style="vertical-align:top">
								<td style="width:15%" class="msgBody">
									<a href="http://www.sql.ru/forum/memberinfo.aspx?mid=<%= item.addeduid %>" class="addedby">
									<%= item.addedby %> </a><br>
									
								</td>
								<td class="msgBody"><%= item.body.gsub('http://www.sql.ru/forum','').html_safe %></td>
							</tr>
							<tr>
								<td colspan=2 class="msgFooter"><%= item.addeddate.strftime("%F %k:%M ") %> <a href="http://www.sql.ru/forum/actualutils.aspx?action=gotomsg&tid=<%= item.tid %>&msg=<%= item.mid %>">orig</a>
							| <%= link_to 'thread', url_for(:thread, :index, :id => tid , :page=>1) %></td>
							
						</tr>
					</tbody>
				</table>
				<% end %>
			</div>
		</td>
	</tr>
	<% end %>
	
	
</tbody>
</table>