<%= partial 'shared/forums' %>

<%
def calc_page(resps)
	pc = resps/30
	pc+=1 if  resps%30 !=0
end


%>

<b><%= @title %></b>
<br/>
<table class="forumTable" style="width:70%">
	<tbody>
		<tr>
			<th style="width:2%"></th>
			<th style="width:5%">Ответов</th>
			<th style="width:15%">Дата</th>
			<th>Тема</th>
			<th>dwnl</th>
		</tr>
		<% @topics.each_with_index do |item,ind| %>
		<tr>
			<td style="text-align:center"><%= ind %></td>
			<td style="text-align:center"><%= item.responses %></td>
			<td style="text-align:left" class="altCol"><%= item.updated.strftime("%F %k:%M ") %></td>
			<td class="postslisttopic">
				<a href='<%= "/fpda/thread/#{item.tid}/p/1" %>'><%= item.title.strip %></a>
				...
				<a href='<%= ForumHelper.get_real_thread_url(10,item.fid,item.tid,item.responses/20+1) %>'>[orig]</a>
				<%= item.responses/20+1 %>|| <%= item.descr %>
			</td>
			<td style="text-align:center">
				<a href='<%= (item.bot_tracked==1 ? "/fpda/thread/untrack/#{item.tid}" : "/fpda/thread/track/#{item.tid}") %>'>
				<%=(item.bot_tracked==1 ? "untrack" : "track") %></a>
			</td>
		</tr>
		<% end %>
	</tbody>
</table>
